.cvContainer {
    width: min(8.5in, 100%);
    min-width: 500px;
    height: min(11in, 100vh);
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
}

.cvHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.sectionContainer {
    margin-bottom: 10px;
}

.sectionHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

ul {
    margin: 5px 0;
}

.experience,
.education {
    margin: 10px 0;
}

.experienceHeader,
.educationeHeader {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.position,
.program {
    font-weight: bold;
}

.company,
.school {
    font-style: italic;
}



@media (max-width: 768px) {
    .cvContainer {
        width: 100%;
        min-width: unset;
        padding: 10px;
    }

    .name {
        font-size: 1rem;
    }

    .experienceHeader,
    .educationHeader {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .cvContainer {
        padding: 5px;
    }

    .name {
        font-size: 0.9rem;
    }
}
