p {
  margin: 0;
  padding: 0;
}

.savedExperience {
  font-size: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.savedExperience .company {
    font-size: 0.7rem;
}

.savedExperience .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.savedExperience button {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.savedExperience img:hover {
    transform: scale(1.1);
}
