.savedExperience {
  font-size: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.savedExperience .company {
  font-size: 0.7rem;
}

.savedExperience .buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.savedExperience button,
.descriptionContainer button {
  padding: 0;
  background-color: transparent;
}

.savedExperience img:hover,
.descriptionContainer img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
