.savedSkill {
  font-size: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.savedSkill .skill {
  font-size: 0.7rem;
}

.savedSkill .buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.savedSkill button {
  padding: 0;
  background-color: transparent;
}

.savedSkill img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}
