
.appContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  
  
}

.appTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.formContainer {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}





