
.appContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  
  
}

.appTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.formContainer {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

}

button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #5b5a5a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #424141;
}

h4 {
  margin: 0;
  text-align: center;
}



